*{
    box-sizing: border-box;
}

body {
    background: rgb(170, 228, 221);;

}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    line-height: 0;
    background-color: aquamarine;
}

.header__logo-img{
    max-width: 400px;
    max-height: 80px;
} 

.header__settings{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("gear.png");
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-color: aquamarine;
}