*{
    box-sizing: border-box;
}

body {
    background: rgb(170, 228, 221);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 100px;
    line-height: 0;
    background-color: aquamarine;
}

.header__logo{
    max-width: 200px;
    max-height: 50px;
    min-height: 30px;
    min-width: 150px;
    width: 20%;
    height: 40%;
    background-color: rgb(225, 225, 177);
} 

.header__settings{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url("gear.png");
    background-size: 45px;
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    background-color: aquamarine;
}