* {
	box-sizing: border-box;
}

body {
	background: rgb(176 190 197);
	font-family: 'Roboto', 'arial', sans-serif;
}

.header {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 100px;
	width: 100%;
	line-height: 0;
	background-color: rgb(128 142 149);
}

.header__logo {
	display: flex;
	max-width: 200px;
	max-height: 50px;
	min-height: 30px;
	min-width: 150px;
	width: 20%;
	height: 40%;
	align-items: center;
	padding: 12px;
	border-radius: 40px;
	background-color: rgb(174 213 129);
	color: rgb(148 148 148);
}

.header__settings {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-image: url('img/gear.png');
	background-size: 45px;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	background-color: rgb(174 213 129);
}

.main {
	width: 85%;
	min-height: 100vh;
	height: 100%;
	padding-top: 100px;
	margin: 0 auto;
	background-color: rgb(243 243 243);
}

.form {
	display: flex;
	align-items: center;
	margin: 38px auto 25px;
	justify-content: start;
	padding-left: 30px;
	width: 94%;
	height: 70px;
	border-radius: 20px;
	background-color: rgb(226 241 248);
	color: rgb(148 148 148);
}

.form__input {
	margin-right: 27px;
	height: 40px;
	border: 0;
	border-radius: 15px;
	padding: 0 15px;
}

.form__input:focus-visible {
	outline: rgb(174 213 129) solid 1px;
}

.form__input:last-child {
	margin-right: 0;
}

.form__input_short {
	width: 5em;
}

.form__input-group {
	margin-right: 74px;
}

.form__input-submit {
	height: 30px;
	border: 0;
	border-radius: 15px;
	background-color: rgb(174 213 129);
	padding: 0 15px;
}

.dates {
	width: 94%;
	margin: 0 auto;
	padding: 20px;
	border-radius: 20px;
	background-color: rgb(234 234 234);
	list-style: none;
}

.dates__day {
	margin-bottom: 40px;
}

.dates__day:last-child {
	margin-bottom: 0;
}

.dates__date {
	margin-left: 50px;
}

.dates__details {
	list-style: none;
	padding-left: 0;
}

.dates__transaction {
	display: flex;
	justify-content: space-between;
	padding: 5px 50px;
	border-radius: 10px;
	background-color: rgb(225 255 177);
	margin: 14px auto;
}

@media (max-width: 1028px) {

	.main {
		width: 100%;
		height: 100vh;
	}

	.form {
		width: 100%;
		height: calc(100vh - 100px);
		border-radius: 0;
		margin: 0;
		flex-direction: column;
		justify-content: center;
	}

	.form__input {
		display: block;
		width: 100%;
		margin-bottom: 15px;
	}

	.form__input:last-child {
		margin-bottom: 0;
	}

	.form__input-group {
		margin: 0;
	}

	.form__input-submit {
		margin-top: 65px;
	}
}
